@model CreateCategoryDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    <div class="container">
        <div class="mb-3">
            <label>Kategori Adı</label>
            <input type="text" asp-for="CategoryName" class="form-control">
        </div>
        <button class="btn btn-primary">Ekle</button>
    </div>
</form>