<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item">
            <a href="/Admin/Dashboard/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="/Category/CategoryList/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div>Kategoriler</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="/Product/ProductList/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div>Ürünler</div>
            </a>
        </li>
        <li class="menu-item ">
            <a href="/Quote/QuoteList/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div>Günün Sözü</div>
            </a>
        </li>
        <li class="menu-item ">
            <a href="/Subscriber/Index/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div>Aboneler</div>
            </a>
        </li>
    </ul>
</aside>
